<ion-header>
    <ion-navbar>
        <ion-title>HomeGrow+</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            Tray {{trayNumber}}
        </ion-card-header>
        <ion-card-content>
            Sensors
            <span *ngFor="let each of getSensorsForTray()">
                <ion-item-divider>
                    Name: {{each.name}}
                    <br> Value: {{each.value}}
                    <br>
                </ion-item-divider>
            </span>
            <br> Plants
            <span *ngFor="let each of getPlantsForTray()">
                <ion-item-divider>
                    Name: {{each.getName()}}
                    <br> Date Planted: {{getPrettyString(each.getDatePlanted())}}
                    <br>
                </ion-item-divider>
            </span>
            <button full ion-button (click)="showPlantManager()">Manage Plants</button>
            <br> Light
            <ion-item-divider>
                Light Status: {{getLightStatus()}}
                <br>
            </ion-item-divider>
            <button full ion-button (click)="activateLight(each)">Activate</button>
        </ion-card-content>
    </ion-card>

</ion-content>